#video-list .panel-body{
	padding-left: 0px;
}

.video-image-mask{
	width: 150px;
	height: 100px;
	overflow: hidden;
}

.video-image-mask .video-image{
	width: 105%;
}

.video-title{
	font-weight: bold;
	font-size: 1.25em;
	
}

.video-title a{
	color: #444;
}

#video-uploader{
	font-weight: bold;
	font-style: italic;
}
